
.BGL
{
    width: 100%;
    height: 100vh;
    margin-left: 0%;
    margin-right: 0%;
    background: url(https://clipart.wpblink.com/sites/default/files/wallpaper/horizon-clipart/267199/horizon-clipart-early-morning-sunrise-267199-6932070.jpg) no-repeat;
    background-size: cover;
    position:fixed;
    

}

#Box
{
    text-align: center;
    position: relative;
    opacity: 5;
}