.Bar
{
    font-family: 'Prompt', sans-serif;
    background-color: transparent;
}

h3:hover {
    opacity: 0.3;
  }


  @media (max-width: 767px) { 
    #Toggle{
        background-color: #fff9c4 ;
        opacity: 0.8;
    }
    
}