.Bar
{
    font-family: 'Prompt', sans-serif;
}

#name
{
    font-family: 'Prompt', sans-serif;
    color: black;
}


@media (max-width: 991.98px) { 
    #Toggle{
        background-color: white ;
        opacity: 0.8;
    }
    
}

h3:hover {
    opacity: 0.3;
  }