
/* Content Header */
#Block
{
    font-family: 'Prompt', sans-serif;
    background-color:transparent;
    color: black;
}



@media (min-width: 992px) and (max-width: 1158px) {
    #Block
    {
        font-family: 'Prompt', sans-serif;
        background-color:transparent;
        margin-top: -70px;
        color: black;
    }
 }

 @media (min-width: 1159px) and (max-width: 1195px) {
    #Block
    {
        font-family: 'Prompt', sans-serif;
        background-color:transparent;
        margin-top: -30px;
        color: black;
    }
 }

 @media (min-width: 1195px) and (max-width: 1300px) {
    #Block
    {
        font-family: 'Prompt', sans-serif;
        background-color:transparent;
        margin-top: 10px;
        color: black;
    }
 }

 @media (min-width: 1300px) and (max-width: 1500px) {
    #Block
    {
        font-family: 'Prompt', sans-serif;
        background-color:transparent;
        margin-top: 30px;
        color: black;
    }
 }

 @media (min-width: 1500px) and (max-width: 1700px) {
    #Block
    {
        font-family: 'Prompt', sans-serif;
        background-color:transparent;
        margin-top: 50px;
        color: black;
    }
 }




/* Service */
#Ser
{
    text-align: center;
    font-family: 'Pacifico', cursive;
}


#Choice
{
    font-family: 'Prompt', sans-serif;
    text-align: center; 
}

#Helpcenter
{
    text-align: center;
    font-family: 'Pacifico', cursive;
  
}

#Helpchoice
{
    font-family: 'Prompt', sans-serif;
    text-align: center; 
    

}

.pic:hover {
    opacity: 0.3;
  }



