
#Block
{
    font-family: 'Prompt', sans-serif;
    background-color:transparent;
}

@media (min-width: 1200px) { 
    #Top
    { margin-top: 150px;
    }
}


#Ser
{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#Choice
{
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

/*background-color: transparent;*/