.BG
{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background: url("test.jpg")  no-repeat ;
    padding: 0px;
    height: 80vh;
    opacity: 0.9;
} 

/* 
@media (min-width: 100px)  { 
    .top
    {
     margin-top: 70px;
    }
 }

 @media (min-width: 992px) and (max-width: 1500.98px) { 
    .top
    {
     margin-top: 70px;
    }
 } */

 .top
    {
     margin-top: 75px;
    }


.front
{
    font-size: calc(10px + 2vmin);
    text-align: center;
    font-family: 'Prompt', sans-serif;
    
}

