.BG
{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background: url("test.jpg")  no-repeat ;
    padding: 0px;
    height: 80vh;
    opacity: 0.9;
} 


@media (min-width: 200px) and (max-width: 400px)  { 
    .top
    {
     margin-top: 160px;
    }
 }

 @media (min-width: 400px) and (max-width: 600px)  { 
    .top
    {
     margin-top: 120px;
    }
 }

 @media (min-width: 600px) and (max-width: 800px)  { 
    .top
    {
     margin-top: 260px;
    }
 }

 @media (min-width: 800px) and (max-width: 1030px) { 
    .top
    {
     margin-top: 390px;
    }
 }

 @media (min-width: 1031px) and (max-width: 1300px) { 
    .top
    {
     margin-top: 200px;
    }
 }

 @media (min-width: 1310px) and (max-width: 1500px) { 
    .top
    {
     margin-top: 200px;
    }
 }

 @media (max-width: 1600px) { 
    .top
    {
     margin-top: 140px;
    }
 }

 @media (max-width: 1630px) and (max-width: 2000px)  { 
    .top
    {
     margin-top: 200px;
    }
 }

 /* .top
    {
     margin-top: 75px;
    } */


.front
{
    font-size: calc(11px + 2vmin);
    text-align: center;
    font-family: 'Prompt', sans-serif;
    
}

