#Block
{
    font-family: 'Prompt', sans-serif;
    background-color:transparent;
     text-align: center;
}

.font
{
    font-family: 'Prompt', sans-serif;
    color: #000;
    text-align: center;
    
}


#font2
{
  text-align: center;
  font-family: 'Pacifico', cursive;
}



/*Disease */
.stripes
{
  margin-left: 10px;
}

/*Map*/
.Map{
  text-align: center;
  background-color: lightcyan;
}
#click
{
  background-color: transparent;
}

#picmap:hover {
  opacity: 0.3;
}


/*About*/
.CarouselA
{
    margin-top: -400px;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    color: black;
    opacity: 0.85;
    background-size: cover;
}
#radius
{
  border-radius: 50px;
}

/*Hospital*/
#fontb
{
    color: black;
    font-family: 'Prompt', sans-serif;
}

#font
{
    color: white;
    font-family: 'Prompt', sans-serif;
}

/*ServiceA*/
#Cardtext
{
  font-family: 'Prompt', sans-serif;
  text-align: left;

}

/*Load*/
.Load
{
  text-align: center;
}